:root {
  --color-bg-light: #deebf4;   /* Base light background color for cells */
  --color-bg-hover: #b0cade;   /* Background color on hover */
  --color-bg-selected: #ffd6c6;/* Background color for selected item */
  --color-bg-popup: #7fa4c0;   /* Popup background color */
  --color-text: #356285;       /* Default text color */
}

html,
body {
  width: 200px;
  margin: 0;
  padding: 0;
}

td {
  width: 11%;
  text-align: center;
  font-size: 2em;
  background-color: var(--color-bg-light);
  color: var(--color-text);
  cursor: pointer;
}

td:hover {
  background-color: var(--color-bg-hover);
}

.selected {
  background-color: var(--color-bg-selected);
}

.popup {
  width: 100%;
  display: grid;
  background-color: var(--color-bg-popup);
}

.result {
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 3em;
  color: var(--color-bg-light);
}
